body {
    background: url(../res/images/Background.jpg);
    background-repeat: repeat;
    background-size: auto;
}

.center_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login_center_container {
    width: 60%;
    min-width: 250px;
    height: 80%;
}

.profile_center_container {
    width: 60%;
    min-width: 250px;
    height: 70%;
    min-height: 600px;
}

.bubble {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 7px 7px 34px 1px rgba(0,0,0,0.75);
}

.bubble-more-visible {
    background-color: rgba(200, 50, 0,0.8);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 7px 7px 34px 1px rgba(0,0,0,0.75);
}

#profilePic {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    cursor: pointer;
}
#profilePic:hover{
    opacity: 0.8;
}

.full_row{
    height: 100%;
}

.profileUserDetails {
    text-align: center;
}

.profileUserName{
    margin-top: 10%;
}

.profileSpecificDetails {
    margin-top: 8%;
}

#file {
    display: none;
}

#upProPic {
    display: none;
}

.profileValue {
    margin-top: 0.5%;
}

#logOutSubmit {
    margin-top: 20%;
}

.star-btn {
    padding: 3px;
    margin: 2px;
}

.vouching_center_container {
    width: 60%;
    min-width: 250px;
    height: 80%;
}

.no-padding-margin{
    margin: 0;
    padding:0;
    text-align: center;
}

.margin-top{
    margin-top: 10%;
}

.margin-bottom {
    margin-bottom: 10%;
}

.small-margin-bottom {
    margin-bottom: 5%;
}

.info-div {
    width: 100%;
    z-index: 10;
    max-height: 550px;
    overflow-y: scroll;
}
.info-div::-webkit-scrollbar {
    width: 12px;
    background-color: #ff0000;
    border-radius: 10px;
}
.info-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #989898;
}

.info-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
/*-----------------------------------------------------*/
.App {
    text-align: center;
}

/*<<<<<<< HEAD*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*=======
>>>>>>> Login/Register*/
