.messagesWrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
}

.messagesHeader {
    flex: 1 1 5%;
    min-height: 2.5em;
    max-height: 2em;
    font-size: 3.2em;
    text-align: center;
    align-content: center;
    padding:20px 0px 20px 0px;
    margin-bottom: 6px;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 3px 3px 10px #000;
}

.messagesBody {
    padding-top: 24px;
    display: flex;
    flex: 1 1 85%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
}

.messagesFooter {
    display: flex;
    flex: 1 1 10%;
    background-color: rgba(0,0,0,0.5);
}

.message {
    padding:10px 10px 38px 34px;
    height: auto;
    margin: auto;
    margin-bottom: 8px;
    width: 60%;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    color: #222;
    background-color: #eed;
    border-radius: 3px;
    opacity: 1;
    position:relative;
}

.myMessage {
    padding:10px 10px 38px 34px;
    height: auto;
    margin: auto;
    margin-bottom: 8px;
    width: 60%;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    color: #222;
    background-color: #a8ee88;
    border-radius: 3px;
    opacity: 1;
    position:relative;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeOut { from { opactiy:0.8; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;
}

.messageContent{
    float:left;
    padding-right: 70px;
    padding-bottom: 10px;
    display: block;
}

.closebtn {
    color: #AA9;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 1.3em;
}

.closebtn:hover {
    color: #AC2500;
}

.formWrapper{
    margin: auto;
}

.messageButton{
    border: none;
    margin: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 24px;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #019875;
    color: #fff;
    transition: 0.2s ease-out;
}

.messageButton:hover{
    background-color: #02BA85;
    color: #fff;
    transition: 0.2s ease-out;
}

.messageInput{
    width: 800px;
    min-width: 800px;
    font-size: 1.3em;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: 'Droid Sans', sans-serif;
    background-color: rgba(34,49,63,0.8);
    color: #fff;
    transition: 0.2s ease-out;
}

.messageInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}

.dateTime{
    position:absolute;
    bottom:0;
    right:0;
}

.box {
    position:relative;
}

.chatList{
    position: relative;
    font-size: 50px;
    width: 100%;
}