.button-true{
    background-color: #6FEDB7;
    color: #140D4F;
    border: none;
    margin: 2px;
}

.button-true:focus{
    border: none;
    outline: none;
}

.button-false{
    background-color: #CBD3D8;
    color: #140D4F;
    border: none;
    margin: 2px;
}

.button-false:focus{
    border: none;
    outline: none;
}

backArrow-link{
    text-decoration: none;
    color: white !important;
}