.rating-breakdown
{
    background-color: #9c9c9c;
    border:1px solid #3b3b3b;
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
    height: 180px;
}

body
{
    /*background-color: #3d3d3d;*/
}

.review
{
    background-color: #9c9c9c;
    border:1px solid #3b3b3b;
    padding: 10px;
    /*font-size: 30px;*/
}

.review-info
{
    /*font-size: 30px;*/
}

.review-button
{
    /*font-size: 50px*/
}

.star-btn
{
    padding: 3px;
    margin: 2px;
}